body {
    height: 100rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../img/background.png");
}

.jumbotron-other {
    background: url("../img/navbar.jfif");
    height: 160px;
}

.container {
    width: 100%;
}

.pink {
    border: 12px solid rgb(238, 171, 171);
    background-color: rgb(238, 171, 171);
}

.generate {
    width: 250px;
    height: 80px;
}

button p {
    font-size: 35px;
}

#space {
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 0 auto;
    text-align: center;
}

.site-footer {
    background-color:rgb(179, 152, 152);
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#020202;
}

.site-footer hr {
    border-top-color:#bbb;
    opacity: 0.5;
}

.fa {
    color: black;
}

.snowflake-icon {
    color: rgb(104, 230, 247)
}

.download-icon {
    color: rgb(7, 27, 209);
}

.heart-icon {
    color: red;
}

.tree-icon {
    color: green;
}

.modal-sm-backgr {
    background-image: url("../img/modals/download.jfif");
}

.modal-big-backg {
    background-image: url("../img/modals/back3.jfif");
}

img {
    cursor: pointer;
}

.sheets {
    width: 100%;
}

.play-button {
    background-color: white;
    border: 1.5px solid black;
}

.image-style {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}